body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  


  .profile-container {
    max-width: 800px;
    margin: 0px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .cover-photo {
    position: relative;
    overflow: hidden;
  }
  
  .cover-image {
    width: 100%;
    height:200px;
    /* height: auto; */
    display: block;
    
  }
  
  .profile-details {
    padding: 20px;
    position: relative;
    z-index: 1;
  }
  
  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .name {
    font-size: 24px;
    margin: 0;
  }
  
  .location {
    color: #555;
  }
  
  .bio {
    margin-top: 20px;
  }
  
  .links a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  /* Optional: Add more styles as needed */
  