body {
  font-family: "Kanit";
  margin: 0;
  padding: 0;
  background-color: #191919;
}

.fa-instagram {
  color: #ff69b4; /* Warna biru muda Instagram */
  transition: color 0.3s ease-in-out; /* Terapkan efek transisi pada perubahan warna */
}

.fa-spotify {
  color: lightgreen;
}

.fa-twitter {
  color: lightblue;
}

.fa-github {
  color: white;
}

.profile-container {
  max-width: 800px;
  margin: 0px auto;
  background-color: #191919;
  /* border: 1px solid #ddd; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 10px;
}

.cover-photo {
  position: relative;
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.profile-details {
  padding: 20px;
  position: relative;
  z-index: 1;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  border: 3px solid white;
  background-color: pink;
}

.name {
  font-size: 25px;
  margin: 0;
  color: white;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.username {
  color: white;
  font-weight: lighter;
  margin: 0;
}

footer {
  color: white;
  text-align: center;
  background-color: transparent;
  margin-top: 10px;
  font-size: 15px;
}

.location {
  color: white;
}

.flag {
  color: red; /* Ubah warna teks menjadi merah */
  background-color: white; /* Ubah warna latar belakang menjadi putih */
  padding: 0 10px; /* Padding untuk memberi ruang di sekitar teks */
  border-radius: 20px; /* Memberikan bentuk rounded pada elemen */
  text-decoration: none;
  font-weight: bold;
}

.bio {
  margin-top: 20px;
  color: white;
}

.links a {
  display: block;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

span {
  padding-left: 7px;
}

i {
  padding-left: 25px;
}

.links a.instagram:hover {
  transform: scale(1.2);
  text-decoration: none;
  color: #ff69b4;
}

.links a.spotify:hover {
  transform: scale(1.2);
  text-decoration: none;
  color: lightgreen;
}

.links a.twitter:hover {
  transform: scale(1.2);
  text-decoration: none;
  color: lightblue;
}

.links a.github:hover {
  transform: scale(1.2);
  text-decoration: none;
  color: grey;
}

.links a.threads:hover {
  transform: scale(1.2);
  text-decoration: none;
  color: grey;
}

/* AUDIO */
.audio-player {
  width: 30px;
  height: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  cursor: grab;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  animation: bounce 1s infinite alternate;
  user-select: none;
}

.audio-player:hover {
  transform: scale(1.1);
}

.play-icon {
  display: flex;
  padding: 7px;
  font-size: 24px;
  color: #191919;
}

.pause-icon {
  display: flex;
  padding: 7px;
  font-size: 24px;
  color: #191919;
}

.audio-player:hover .play-icon {
  color: #ff4081;
}

.audio-player:hover .pause-icon {
  color: #ff4081;
}

audio {
  display: none;
}

/* Animasi Bouncing */
/* @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  } */
